.articleCard {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 329px;
}

.articleCard__image {
  grid-area: img;
  border-radius: 6px;
  max-width: 329px;
  max-height: 224px;
  position: unset !important;
}

.articleCard__author {
  grid-area: cat;
  font-size: 1.25rem;
  line-height: 32px;
  color: var(--text-dark);
}

.articleCard__title {
  grid-area: title;
  color: var(--text-dark);
  font-size: 1.5rem;
  line-height: 32px;
}

.articleCard__date {
  grid-area: date;
  color: var(--text-dark);
}

@media screen and (min-width: 768px) {
  .articleCard {
    display: grid;
    justify-content: center;
    grid-template-areas:
      "img title"
      "img cat"
      "img date";
    max-width: 720px;
  }

  .articleCard__image {
    width: 329px !important;
  }
}
