.section {
  display: flex;
  flex-direction: column;

  gap: 1.2rem;
}

.section--light {
  background-color: var(--secondary-color);
  padding: 2rem 1.4rem;
}
.section--dark {
  background-color: var(--primary-color);
  padding: 4rem 1.4rem;
}
