@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap");

:root {
  --primary-color: #28293e;
  --secondary-color: #fdf0e9;
  --text-dark: #391400;
  --text-dark-accent: #ef6d58;
  --text-dark-gray: rgba(57, 20, 0, 0.64);
  --text-light: #ffffff;
  --text-light-gray: rgba(255, 255, 255, 0.64);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: whitesmoke;
  font-family: "Epilogue", sans-serif, "Helvetica Neue", Arial;
}

body {
  background-color: rgba(25, 25, 26, 0.956);
}
